/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
  font-feature-settings: 'case', 'calt', 'cv01', 'cv02', 'cv03', 'cv04', 'cv11',
    'tnum';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
